.events {
    background: #051014;
    color: #CDDDDD;  
    padding: 60px 18.7%;
    padding-top: 7rem;  
}


.events h3 {
    font-size: 36px;
    padding-bottom: 3%;
}

.events h4 {
    font-size: 26px;
    align-items: left;
}

.events p {
    font-size: 20px;
}

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #2E2F2F;
    background-color: #ACBDBA;
    height: 48px;
    margin-top: 3%;
}

.btn:hover {
    transform: scale(1.04);
    background-color: #9fadab;
}


.date  p {
    font-size: 17px;
    color: #ACBDBA;
}