/* Hero.css */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 20px;
}

.hero h1 {
  margin-bottom: 20px;
  font-size: 60px;
}

.hero p {
  margin-bottom: 30px;
  max-width: 800px;
  font-size: 20px;
}

.more {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 48px; /* Center text vertically */
  border-radius: 500px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0 48px; /* Remove top/bottom padding since line-height handles height */
  color: #2E2F2F;
  background-color: #ACBDBA;
  text-decoration: none; /* Remove underline */
}

.more:hover {
  transform: scale(1.04);
  background-color: #9fadab;
}


@media screen and (max-width: 1060px){
  .hero h1{
    font-size: 40px;
  }
  
}