.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  padding: 15px 7%;
}

.navbar-scrolled {
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  cursor: pointer;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 21px;
}

ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #ACBDBA;
}

.donate {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 48px;
  border-radius: 500px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0 48px;
  color: #2E2F2F;
  background-color: #ACBDBA;
  text-decoration: none;
  height: 48px;
}

.donate:hover {
  transform: scale(1.04);
  background-color: #9fadab;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}